# This sets the `.gitignore` to be a *whitelist* by default.
**/**
!*/


# Whitelist
!*.md
!*.yml
!LICENSE-MIT
!.gitignore
!assets/**
!build.zig
!build.zig.zon
!.github/**
!protobuf/**
!*.zig
!sabledocs_output/**
!site/**

# Blacklist (overrides Whitelist)
zig-out/**
zig-cache/**
.zig-cache/**
vendor/**
zig-pkg/**
